{% extends 'base_blog/base.html' %}

{% block title %}{{ block.super }} :: Add Comment{% endblock %}

{% block content %}
<div class="blog">

    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <a href="{% url 'blog_home' %}"><h2>Add Comment</h2></a>
            </div>
        </div>
    </div>

</div>

<form method="POST">
    {% csrf_token %}
    <p align="center">{{ form.as_p }}</p>

    <button class="form-btn"
            style="background-color:#fc4311; border-color:#fc4311;">Добавить коментарий
    </button>
</form>

{% endblock %}
